body {
    background: #000000;
    padding: 0px;
    margin: 0px;
    font-family: 'Rajdhani', sans-serif;
}

canvas {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
